@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Brandon';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('/fonts/BGF/regluar.otf') format('opentype');
    }
  :root {
        --radius: 0.5rem;
    }
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}