.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px; /* This will give the card a 3D effect */
}

.diffuse-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/grain.webp") no-repeat center center / cover;
    mix-blend-mode: lighten;
    filter: brightness(0.8);
    z-index: 1;
}

.foil-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--foil-url, url("/foil/splatter.jpg")),
        repeating-linear-gradient(
            82deg,
            hsl(53, 65%, 60%) calc(var(--space) * 1),
            hsl(93, 56%, 50%) calc(var(--space) * 2),
            hsl(176, 54%, 49%) calc(var(--space) * 3),
            hsl(228, 59%, 55%) calc(var(--space) * 4),
            hsl(283, 60%, 55%) calc(var(--space) * 5),
            hsl(326, 59%, 51%) calc(var(--space) * 6)
        ),
        radial-gradient(
            farthest-corner circle at var(--pointer-x) var(--pointer-y),
            hsla(180, 100%, 89%, 0.5) 5%,
            hsla(180, 14%, 57%, 0.3) 40%,
            rgba(0, 0, 0, 100%) 100%
        );
    background-blend-mode: multiply, overlay;
    background-size: cover;
    mix-blend-mode: color-dodge;
    opacity: 0.8;
    z-index: 2;
    mask-image: url("/foil/mask.png");
    -webkit-mask-image: url("/foil/mask.png");
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: background 0.3s ease-out;
}

.foil-layer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/grain.webp");
    opacity: 0.2;
    mix-blend-mode: soft-light;
    pointer-events: none;
}

.glare-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        hsla(0, 0%, 100%, 1) 5%,
        hsla(0, 0%, 100%, 0.65) 10%,
        hsla(0, 0%, 0%, 0.5) 90%
    );
    filter: brightness(0.8) contrast(1.5);
    mix-blend-mode: overlay;
    opacity: 0.4;
    z-index: 3;
}

.holo-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/glitter.png"),
        radial-gradient(circle, rgba(247, 255, 164, 0.3) 10%, transparent 80%);
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0.6;
    filter: saturate(2) brightness(1.2);
}